# vim:ft=toml

{{- $email := promptStringOnce . "email" "Git email address for the author/committer" }}
{{- $gitsign := promptBoolOnce . "gitsign" "Enable git signing malarkey" }}

[merge]
command = "nvim"
args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[data]
email = "{{ $email }}"
gitsign = {{ $gitsign }}
