# vim:ft=toml

{{- $email := promptString "Git email address for the author/committer" }}
{{- $gitsign := promptBool "Enable git signing malarkey" }}

[merge]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[data]
    email = "{{ $email }}"
	gitsign = {{ $gitsign }}
