// https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl

input {
    keyboard {
        xkb {
            layout "ro"
			options "caps:escape"
        }
    }

    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="20%"

    touchpad {
        tap
        natural-scroll
    }
	    tablet {
        map-to-output "eDP-1"
    }
}

cursor {
    xcursor-theme "Adwaita"
}

animations {
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.5
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
   gaps 10

   struts {
       // left 64
       // right 64
       top -6
       bottom -6
   }
   center-focused-column "never"

   preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can change the default width of the new windows.
    // default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
     default-column-width {}
}

spawn-at-startup "waybar"
spawn-at-startup "kanshi"
spawn-at-startup "gammastep" "-l" "51:4"
spawn-at-startup "/usr/libexec/pipewire-launcher"
spawn-at-startup "sh" "-c" "swaybg -m fill -i $(find /home/vlad/documents/SYNC/wallpapers -type f -maxdepth 1 | sort -R | head -n1) -o DP-1 -m tile -i $(find /home/vlad/documents/SYNC/wallpapers/tiled/ -type f -maxdepth 1 | sort -R | head -n1)"

spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"


prefer-no-csd
screenshot-path "~/pictures/screenshots/%Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"

    open-floating true
    default-floating-position x=32 y=32 relative-to="bottom-left"
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Space { spawn "fuzzel"; }
    Mod+Return { spawn "ghostty"; }
    // Mod+E { spawn "nautilus" "--new-window"; }
    Super+Alt+L { spawn "swaylock"; }
    Super+Ctrl+Q { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Q { close-window; }

    Mod+M     { focus-column-or-monitor-left; }
	Mod+N     { focus-window-or-workspace-down; }
    Mod+E     { focus-window-or-workspace-up; }
    Mod+I     { focus-column-or-monitor-right; }

    Mod+Shift+M     { move-column-left; }
	Mod+Shift+N     { move-window-down-or-to-workspace-down; }
    Mod+Shift+E     { move-window-up-or-to-workspace-up; }
    Mod+Shift+I     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Ctrl+M     { focus-monitor-left; }
    Mod+Ctrl+N     { focus-monitor-down; }
    Mod+Ctrl+E     { focus-monitor-up; }
    Mod+Ctrl+I     { focus-monitor-right; }

    Mod+Shift+Ctrl+M     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+N     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+E     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+I     { move-column-to-monitor-right; }


    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+Y         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    // Mod+Shift+1 { move-column-to-workspace 1; }
    // Mod+Shift+2 { move-column-to-workspace 2; }
    // Mod+Shift+3 { move-column-to-workspace 3; }
    // Mod+Shift+4 { move-column-to-workspace 4; }
    // Mod+Shift+5 { move-column-to-workspace 5; }
    // Mod+Shift+6 { move-column-to-workspace 6; }
    // Mod+Shift+7 { move-column-to-workspace 7; }
    // Mod+Shift+8 { move-column-to-workspace 8; }
    // Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // There are also commands that consume or expel a single window to the side.
    // Mod+BracketLeft  { consume-or-expel-window-left; }
    // Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Equal { set-column-width "+10%"; }

    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Mod+Shift+4 { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Q { quit; }
    Mod+Shift+P { power-off-monitors; }

	// Focus browser
	Mod+B { spawn "sh" "-c" "niri msg -j windows | jq 'map(select(.app_id==\"Firefox\")) | first | .id' | xargs  niri msg action focus-window --id"; }
	// Focus ghostty
	Mod+P { spawn "sh" "-c" "niri msg -j windows | jq 'map(select(.app_id==\"com.mitchellh.ghostty\")) | first | .id' | xargs  niri msg action focus-window --id"; }

}
